html,
body {
  height: 100%;
}

body {

  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.chat-box {
  width: 100%;
  max-width: 830px;
  padding: 15px;
  margin: auto;

}

#chat {
  height: 300px;
  overflow-y: auto;
  border:  1px solid #dfdfdf;
  padding: 20px;
}

#users {
  max-height: 300px;
  overflow-y: auto;
}

#chat .card {
	margin-bottom: .3rem;
}
.chat-box .checkbox {
  font-weight: 400;
}

.chat-box .form-floating:focus-within {
  z-index: 2;
}

.chat-box input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chat-box input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.chat-p.rtl {
	direction: rtl;
	text-align: right;
}


.list-group-item.active a {
	color: #fff;
}

.bg-green {
	background: #effdde;

}

.pull-left {
    float: left;
    padding: 10px;
}

#chat .card-body {
 
    padding: 0.3rem;
}

#emoji {
	position: relative;
}

#emoji div span{
	padding: 3px;
}

#emoji div {
	padding: 10px;
	position: absolute;
	width: 300px;
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	cursor: pointer;
	right: 0;
	border: 1px solid #fcfcfc;
}

#emoji-p {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.form-control {
    padding: 1rem 0.75rem;
    border-radius: 0;
}


.list-group {
    border-radius: 0;
}

#emoji-p {
  cursor: pointer;
}

.card .time {
  font-size: 13px;
}

.chat-text {
  float: left;
  clear: both;
}

#btn-send {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.chat-text.right {
    float: right;
    clear: both;
}

#chat {
  border-bottom: 0;
}

#main-chat {
  min-height: 100%;
}